@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ededed;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #374151;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 40px;
    color: black;
    text-align: left;
}

.container {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    height: 500px;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
}

.form-container {
    flex: 1;
    margin-right: 20px; 
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #4b5563;
}

input[type="number"] {
    width: 80%;
    height: 21px;
    padding: 12px;
    padding-left: 16px;
    font-size: 16px;
    border: none; 
    border-radius: 12px;
    outline: 2px solid #e8e8e8;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

input[type="number"]:focus {
    outline: 2px solid #313131;
}

/* Para eliminar boton de incremento y decremento */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.result-chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.result {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 30px;
    outline: 2px solid #e8e8e8;
    transition: transform 0.2s; 
}

.result h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #0d9488;
}

.result-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #e5e7eb;
}

.result-item:last-child {
    border-bottom: none;
}

.result-label {
    font-weight: 600;
    color: #4b5563;
}

.result-value {
    font-size: 1.5rem;
    color: #0f766e;
    font-weight: 700;
}

.chart-container {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
}

canvas {
    max-width: 100%;
    border-radius: 12px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
    .form-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
